{
 "signatures": [
  {
   "keyid": "556caebdc0877eed53d419b60eddb1e57fa773e4e31d70698b588f3e9cc48b35",
   "sig": "9dd086b615a709b11267d3209b96793995479266e0df319c40e8f8565443e5d2f672ecf397039e57cf3e64669122cb01a26101f02cc26a4755dfad491753293b80d7cd4f47015f642cd7bfc0b9db6d68da5f9c75113cdadaaa0f9f813e4fd96b0e9dd4f7f88de3403db9582db95bd625f2764b046a5fb883a8060e91237c85b95f974d0218848cc90bfd0fbc50afd412b044a5ed4c850c2bae72025ee4c64044ed66d2d265599fe355eaf6cc7bb63d063ad919849669aec0093aaa7862b06f67bd948766ea200d41350460d2e8c99bd57527cc3f26090e212fe7a2414d02a9889fd0243d79d99f5127a304c6d6f274334c7b91b96beb142ae1413ce36eb8688ad0494ce5752039b3b2cf8941d48edcec4b5ed472b9e79fc49af223c1c01646348081bf4cc75b2e19cde2be2c2e3dc408db3b8a60472fa3148143c2bc798aae744b1d63b89e469e95bc3ef1a810d770f3501af0b76e98d10feb2a759d319e67967244723c17f9d068c240c4bc76755a91d26760b95454cbcf8211f2ccc663ee82"
  }
 ],
 "signed": {
  "_type": "layout",
  "expires": "2018-11-18T16:06:36Z",
  "inspect": [
   {
    "_type": "inspection",
    "expected_materials": [
     [
      "MATCH",
      "foo.tar.gz",
      "WITH",
      "PRODUCTS",
      "FROM",
      "package"
     ]
    ],
    "expected_products": [
     [
      "MATCH",
      "foo.py",
      "WITH",
      "PRODUCTS",
      "FROM",
      "write-code"
     ]
    ],
    "name": "untar",
    "run": [
     "python",
     "./scripts/tar",
     "xfz",
     "foo.tar.gz"
    ]
   }
  ],
  "keys": {
   "2f89b9272acfc8f4a0a0f094d789fdb0ba798b0fe41f2f5f417c12f0085ff498": {
    "keyid": "2f89b9272acfc8f4a0a0f094d789fdb0ba798b0fe41f2f5f417c12f0085ff498",
    "keyid_hash_algorithms": [
     "sha256",
     "sha512"
    ],
    "keytype": "rsa",
    "keyval": {
     "private": "",
     "public": "-----BEGIN PUBLIC KEY-----\nMIIBojANBgkqhkiG9w0BAQEFAAOCAY8AMIIBigKCAYEAzgLBsMFSgwBiWTBmVsyW\n5KbJwLFSodAzdUhU2Bq6SdRz/W6UOBGdojZXibxupjRtAaEQW/eXDe+1CbKg6ENZ\nGt2D9HGFCQZgQS8ONgNDQGiNxgApMA0T21AaUhru0vEofzdN1DfEF4CAGv5AkcgK\nsalhTyONervFIjFEdXGelFZ7dVMV3Pp5WkZPG0jFQWjnmDZhUrtSxEtqbVghc3kK\nAUj9Ll/3jyi2wS92Z1j5ueN8X62hWX2xBqQ6nViOMzdujkoiYCRSwuMLRqzW2CbT\nL8hF1+S5KWKFzxl5sCVfpPe7V5HkgEHjwCILXTbCn2fCMKlaSbJ/MG2lW7qSY2Ro\nwVXWkp1wDrsJ6Ii9f2dErv9vJeOVZeO9DsooQ5EuzLCfQLEU5mn7ul7bU7rFsb8J\nxYOeudkNBatnNCgVMAkmDPiNA7E33bmL5ARRwU0iZicsqLQR32pmwdap8PjofxqQ\nk7Gtvz/iYzaLrZv33cFWWTsEOqK1gKqigSqgW9T26wO9AgMBAAE=\n-----END PUBLIC KEY-----"
    },
    "scheme": "rsassa-pss-sha256"
   },
   "776a00e29f3559e0141b3b096f696abc6cfb0c657ab40f441132b345b08453f5": {
    "keyid": "776a00e29f3559e0141b3b096f696abc6cfb0c657ab40f441132b345b08453f5",
    "keyid_hash_algorithms": [
     "sha256",
     "sha512"
    ],
    "keytype": "rsa",
    "keyval": {
     "private": "",
     "public": "-----BEGIN PUBLIC KEY-----\nMIIBojANBgkqhkiG9w0BAQEFAAOCAY8AMIIBigKCAYEA0Zfzonp3/FScaIP+KKuz\nB+OZNFpjbVGWjm3leqnFqHYLqrLcCw5KhlXpycJqoSvZBpO+PFCksUx8U/ryklHG\nVoDiB84pRkvZtBoVaA4b4IHDIhz1K5NqkJgieya4fwReTxmCW0a9gH7AnDicHBCX\nlzMxqEdt6OKMV5g4yjKaxf8lW72O1gSI46GSIToo+Z7UUgs3ofaM5UFIcczgCpUa\n5kEKocB6cSZ9U8PKRLSs0xO0ROjrcOTsfxMs8eV4bsRCWY5mAq1WM9EHDSV9WO8g\nqrRmanC4enNqa8jU4O3zhgJVegP9A01r9AwNt6AqgPSikwhXN/P4v1FMYV+R6N3b\nS1lsVWRAnwBq5RFz5zVvcY88JEkHbrcBqP/A4909NXae1VMXmnoJb4EzGAkyUySB\na+fHXAVJgzwyv3I48d/OIjH8NWcVmM/DQL7FtcJk3tp0YUjY5wNpcbQTnLzURtlU\nsd+MtGuvdlDxUUvtUYCIVKRdS8UzYnTPjI2xzeoSHZ2ZAgMBAAE=\n-----END PUBLIC KEY-----"
    },
    "scheme": "rsassa-pss-sha256"
   }
  },
  "readme": "",
  "steps": [
   {
    "_type": "step",
    "expected_command": [],
    "expected_materials": [],
    "expected_products": [
     [
      "ALLOW",
      "foo.py"
     ]
    ],
    "name": "write-code",
    "pubkeys": [
     "776a00e29f3559e0141b3b096f696abc6cfb0c657ab40f441132b345b08453f5"
    ],
    "threshold": 1
   },
   {
    "_type": "step",
    "expected_command": [
     "tar",
     "zcvf",
     "foo.tar.gz",
     "foo.py"
    ],
    "expected_materials": [
     [
      "MATCH",
      "foo.py",
      "WITH",
      "PRODUCTS",
      "FROM",
      "write-code"
     ],
     [
      "DISALLOW",
      "*"
     ]
    ],
    "expected_products": [
     [
      "ALLOW",
      "foo.tar.gz"
     ],
     [
      "ALLOW",
      "foo.py"
     ]
    ],
    "name": "package",
    "pubkeys": [
     "2f89b9272acfc8f4a0a0f094d789fdb0ba798b0fe41f2f5f417c12f0085ff498"
    ],
    "threshold": 1
   }
  ]
 }
}