version: 2
updates:
  # Monitor Go dependencies
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      all:
        applies-to: version-updates
        patterns:
          - "*"
    open-pull-requests-limit: 10
  # Monitor Github Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore"
      include: "scope"
    open-pull-requests-limit: 10
    groups:
      all:
        applies-to: version-updates
        patterns:
          - "*"
