name: Docgen and go fmt

on:
  workflow_dispatch:
  push:
    branches: ['master']
  pull_request:

jobs:
  docgen:
    name: Verify Docgen
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
      - run: ./scripts/verify-docs.sh
  fmt:
    name: Verify go fmt
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
      - run: test -z $(go fmt ./...)
